body {
	font-family: 'Futura'; 
	font-size: 28px; 
	color: White; 
		background: Black;‘
}
header {
	color: Aqua; 
}

.wrapper {
	Margin: auto; 
	width: 50%; 
}

.content {
	line-height: 1.4;
}

nav ul{
	list-style-type: none;
	padding: 0
}

nav ul li{
	display: inline-block; 
}

nav a{
	padding: 10px; 
	margin-left: 50px; 
	border: 2px solid White; 
	color: Aqua; 
	
