body {
	font-family: 'Futura'; 
	font-size: 28px; 
	color: White; 
	background: Black;
	text-align: center; 
}
header {
	color: Aqua; 
}

.wrapper {
	Margin: auto; 
	width: 50%; 
	background-color: Gray; 
	padding: 20px; 
}

.content {
	line-height: 1.4;
}

nav ul{
	list-style-type: none;
	padding: 0px; 
}

nav ul li{
	display: inline-block; 
}

nav a{
	padding: 10px; 
	text-decoration: none; 
	margin-left: 50px; 
	border: 2px solid White; 
	color: Aqua; 
	transition: all 0.5s; 
}
	
a:hover {
	color: red; 
	transition: all 0.5s; 
}
}
